{% extends 'calendar/default.html.twig' %}

{% block main %}
    <div class="py-5">
        <h1 class="mb-4">{{ 'calendar.sent'|trans }}</h1>
        <p>{{ 'calendar.order_sent'|trans }}</p>
    </div>
{% endblock %}
