<h1>Hi!</h1>

<p>In you are enjoyed, please follow this link</p>

<a href="{{ url("app_invite_accept", {code:invite.email}) }}">{{ url('app_invite_accept', {code:invite.email}) }}</a>

<p>Cheers!</p>
