{% extends 'layout.html.twig' %}

{% block main %}
    <h1 class="mb-4">{{ 'title.index'|trans }}</h1>

    <div class="row">
        <div class="col-md-6">
            index
        </div>
    </div>
{% endblock %}