{% extends 'meetup/index.html.twig' %}

{% block main %}
    <h1>Fill your data</h1>
    {% if form is not defined %}
        <p>There is no form to display</p>
    {% else %}
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-lg btn-outline-primary">Create</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}