{% extends 'meetup/show.html.twig' %}

{% block card_actions %}
    <p>Fill your data</p>
    {% if form is not defined %}
        <p>There is no form to display</p>
    {% else %}
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" class="btn btn-lg btn-outline-primary">Subscribe</button>
        {{ form_end(form) }}
    {% endif %}
{% endblock %}
