{% extends 'order/admin/index.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-8">

            {{ form(form,{'attr': {'novalidate': 'novalidate'}}) }}

        </div>
    </div>
{% endblock %}
