{% extends 'blank.html.twig' %}

{% block title %}{{ status_text }}{% endblock %}

{% block main %}
    <div class="container">
        {% block error_body %}

        <h1 class="mt-5 mb-4">{{ status_code }} {{ status_text  }}</h1>

        <p class="lead mb-4">Something is broken. Try to refresh your browser or <a href="#" title="Contact link should be present">contact administrator</a>.</p>

        {% if is_granted('ROLE_ADMIN') %}
            <p><b>TODO:</b> Use choice and button or <a href="{{ path('app_home') }}">return to the homepage</a> if need be, too.</p>
        {% endif %}

        {% endblock %}
    </div>
{% endblock %}
