{% extends 'blank.html.twig' %}

{% block title %}{{ status_code }} {{ status_text }}{% endblock %}

{% block main %}
    <div class="container">
        {% block error_body %}

            <div class="mt-5 mb-4">
                <i class="bi bi-exclamation-square display-4"></i>
            </div>

            <h1 class="mt-2 mb-4">{{ status_code }} {{ status_text  }}</h1>

            <p class="lead mb-4">
                Something is broken. Try to refresh your browser
                or <a href="mailto://TODO add mailto address" title="Contact link should be present">
                    contact administrator</a>.
            </p>

        {% endblock %}
    </div>
{% endblock %}
