<h3>
    New Order
</h3>
<p>
    <strong>Date:</strong> {{ order.date }}
</p>
<p>
    <strong>Name:</strong> {{ order.name }}
</p>
<p>
    <strong>Email:</strong> {{ order.email }}
</p>
<p>
    <strong>Phone:</strong> {{ order.phone }}
</p>
